* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Montserrat;
  src: url(fontes/Montserrat-Bold.ttf), url(fontes/Montserrat-Medium.ttf), url(fontes/Montserrat-SemiBold.ttf);
}
:root {
  --blue: #3ea1db;
  --bgSite: #f6f6f6;
  --bgCard: #ebe9ea;
  --white: #fff;
  --title: #181818;
  --text: #474747;
}

body{
  font-family: Montserrat; 
}
/* HEADER */
header {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: auto;
}
.card-header {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.discount {
  background-color: var(--blue);
}
.store-name {
  background-color: var(--white);
}
.discount-text {
  font-size: 15px;
  font-weight: medium;
}
.name {
  font-size: 25px;
  font-weight: bold;
}

/* APRESENTÇÃO COM IMAGEM DE FUNDO */
.store-presentation {
  position: relative;
  width: 100%;
  height: 378px;
  overflow: hidden;
  margin: 0;
}
.store-presentation img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  display: block;
  object-fit: cover;
  filter: brightness(40%);
}

.text-presentation {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  text-align: justify;
  color: #fff;
}

.title {
  padding: 20px;
  font-size: 40px;
  font-weight: bold;
}

.text {
  padding: 0px 0px 0px 20px;
  font-size: 20px;
  width: 50%;
  font-weight: medium;
}

.container {
  width: 100%;
  height: auto;
  padding: 10px;
  margin-bottom: 20px;
}

.container-main {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.container-header{
  padding: 20px;
  margin-bottom: 10px;
}

.container-header h2{
  padding-bottom: 15px;
  font-size: 32px;
}

.container-header p{
  padding-bottom: 15px;
  font-size: 16px;
}
.card {
  background-color: var(--bgCard);
  margin: 10px;
  width: 300px;
  height: 215px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card img {
  width: 250px;
}

/*Efeito de zoom quando passar o mouse*/
.card:hover img {
  transform: scale(1.3); 
  transition: 1s all ease;
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue);
  padding: 10px;
}

footer p{
  font-size: 15px;
}


@media (max-width: 768px) {

  header {
    flex-direction: column;
  }
  .store-presentation {
    height: 250px;
  }
  .text-presentation {
    padding: 10px;
  }
  .title {
    padding: 20px;
    font-size: 25px;
  }
  .text {
    font-size: 15px;
  }
  
  .container {
    padding: 5px;
  }
  .card {
    width: 90%;
  }
  .card img {
    width: 80%;
  }
}
